<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <link rel="stylesheet" href="Footer.css">
</head>
<body>
<footer>
    <div class="container">
        <div class="creator-info">
            <img src="/utilsImages/me.jpg" alt="Creator Photo">
            <p>Created by Alex Gusev</p>
        </div>
        <div class="disclaimer">
            <p>© 2024. Все права защищены. Этот сайт был сделан для демонстрации навыков для KataAcademy.</p>
        </div>
    </div>
</footer>
</body>
</html>
