<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наш магазин</title>

    <link rel="stylesheet" href="open.css">
</head>
<body>

<header th:replace="AllRole/borders/Header.html"></header>

<div class="container">
    <section id="home">
        <h2>Добро пожаловать в наш магазин!</h2>
        <p>Наш магазин предлагает широкий ассортимент качественных товаров по доступным ценам. У нас вы найдете все, что вам нужно для комфортной и стильной жизни.</p>
        <p>Погрузитесь в увлекательный мир шоппинга и найдите то, что вы искали!</p>
        <p>Не упустите возможность начать свои покупки прямо сейчас. Перейдите в наш <a href="shop">каталог</a> и выберите лучшие товары по выгодным ценам!</p>
    </section>
</div>

<footer th:replace="AllRole/borders/Footer.html"></footer>

</body>
</html>
