<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <link rel="stylesheet" href="shop.css">

</head>
<body>

<header th:replace="AllRole/borders/Header.html"></header>

<h1>Список товаров</h1>

<div id="products-container">
    <!-- Контейнер, в который будут добавляться карточки товаров -->
    <div th:each="product : ${products}" class="product-card">
        <img th:src="@{/images/{imagePath}(imagePath=${product.getImagePath()} + '.jpg')}" th:alt="${product.name}">
        <h3 th:text="${product.getName()}"></h3>
        <p th:text="${product.getName()}"></p>
        <td><a href="/shop/{id}" th:href="@{/shop/{id}(id=${product.getId()})}">Show</a></td>
        <p th:text="'Цена: ' + ${product.getPrice()} + ' руб.'"></p>
        <form th:action="@{/shop}" th:method="POST">
            <input type="hidden" name="productId" th:value="${product.id}" />
            <input type="number" class="quantity-input" name="quantity" value="1" min="1">
            <input type="submit" value="Положить в корзину" />
        </form>
    </div>
</div>
<footer th:replace="AllRole/borders/Footer.html"></footer>

</body>
</html>